.container {
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(16, 30px);   
    column-gap: 1px;
    row-gap: 1px; 
    justify-content: center;
}

.container div {
    background-color: #ffffff;
    padding: 15px;
}

body {
    background-color: #cfcfcf;
}